
        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #fff;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 10px;
        }

        .container {
            margin-top: 40px;
        }

        .nav-link {
            color: #fff;
            font-size: 18px;
        }

        .nav-link:hover {
            background-color: #acdce7;
            color: black;
        }


        .opener {
            font-size: 25px;
            color:aliceblue;
            padding-right: 10px;
            cursor: pointer;
        }

        .open-btn {
            margin-left: 15px;
        }

        .troll-geek-bg {
            background: #05bfe8;
        }

        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 10px;
            }
        }